body.assortiment .site-content {
    background: url(images/schoolbord.jpg) center top;

    article {
        background-color: rgba(155, 155, 155, 0.2);

        header>h1 {
            color: #e5e5e5;
        }
    }

}

.assortiment-post {
    color: #e5e5e5;
    border-bottom: 1px solid $light-grey;
    padding: 1em 0;

    .entry-title {
        font-family: $OpenSans;
    }

    .assortiment-price-container {
        text-align: right;
        max-width: 450px;
    }

    .assortiment-price, .assortiment-price-quantity {
        display: inline-block;
        font-size: 16px;
    }

    .assortiment-price {
        font-family: $OpenSans;
        font-size: 22px;
        padding-left: .5em;
    }
}

@media screen and (min-width: 766px) {

    .assortiment-post {
        .assortiment-price-container {
            text-align: right;
            max-width: 80%;
        }
    }


}