.site-footer {
    background-color: $red;

    .widget-area {
        max-width: $max-content-width - 40px;

        .widget {
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
            }
         }

        .sidebar-container {
            background-color: $dark-grey;
        }

        h3.widget-title {
            font-family: $OpenSansC;

            text-transform: uppercase;
            font-style: normal;
        }
    }

}