

// Mobile first
#page > header {
    @include headerHeight(255px);
    position: relative;

    .home-link {
        position: absolute;
        top: 10px;
        max-width: $max-content-width;
    }

    #haantje-icon {
        position: absolute;
        width: 55px;
        height: 55px;
        background: url(images/haantje.svg) no-repeat top left;
        background-size: contain;
        background-color: $dark-grey;
        border-radius: 50%;
        border: 3px solid $dark-grey;
        z-index: 10;
    }

    #site-title-descr {
        margin-left: 63px;

        h1 {
            display: inline-block;
            margin-top: .3em;
            font-family: 'Anton', sans-serif;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            color: $dark-grey;

            &.site-title:hover {
                text-decoration: none;
            }
        }

        h2 {
            display: none;
        }
    }

    .main-navigation {
        min-height: 20px;
    }

    #navbar {
        height: 50px;
        padding: 0 20px;
        background-color: #fff;
        text-align: right;
        z-index: 10;

        .menu-toggle {
            display: inline-block;
            font-size: 0;
            background: none;
            border: 0;
            margin-top: 8px;
            color: transparent;
            padding: 10px 15px;
            z-index: 20;

            &:after {
                color: $dark-grey;
                font-family: "Glyphicons Halflings";
                content: "\e236";
                font-size: 16px;
                vertical-align: text-bottom;
            }
        }

        #site-navigation {

            #primary-menu {
                background-color: #fff;
                display: none; /* initially hidden on mobile */
                margin-top: 0;
                position: absolute;
                right: 0;
                font-family: $OpenSansC, sans-serif;
                li {
                    padding: 10px 0;
                }
            }

            &.toggled-on #primary-menu {
                display: block;

                & li {
                    display: block;
                }
            }

            .menu-menu-1-container {
                background-color: #fff;
                max-width: 400px;
                margin-left: auto;
            }

            .menu-item,
            .page_item {
                background-color: transparent;
                border-bottom: 1px solid $light-grey;

                a {
                    background-color: transparent;
                    font-weight: bold;
                    font-size: 18px;
                    color: $dark-grey;
                    padding: 0 0 2px 0;
                    margin: 0 20px;

                    &:hover {
                        color: #ddd;
                        background-color: transparent;
                    }

                }
            }

            .current_page_item a,
            .current_page_item a:hover {
                font-style: normal;
            }
        }

    }

    #reservation-text {
        background-color: $dark-grey;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 21px;
        padding: .3em;

        a {
            color: #fff;
        }
    }
}

// Mobile landscape and bigger
@media screen and (min-width: $tw13_mob_l_min) {
    #page > header {
        @include headerHeight(180px);


    }
}

// Tablet portrait and bigger
@media screen and (min-width: $tw13_tab_p_min) {
    #page > header {
        @include headerHeight(365px);

        #navbar {
            //position: static;
            padding: 0;
            height: 120px;

            .menu-toggle {
                height: 112px;
                padding-top: 0;
                margin-right: 15px;

                &:after {
                    font-size: 26px;
                }
            }

            #primary-menu {

            }
        }

        #haantje-icon {
            margin-top: 15px;
            width: 130px;
            height: 130px;
        }

        #site-title-descr {
            margin-left: 150px;

            h1 {
                margin: .9em 0 0 0;
                font-size: 36px;
                line-height: 1.2em;
                padding: 0;
            }
            h2 {
                display: block;
                margin: 0 0 .2em 0;
                font-family: $OpenSansC, sans-serif;
                line-height: 1.2em;
                color: $red;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }
}

// Desktop and bigger
@media screen and (min-width: $tw13_tab_l_min) {
    #page > header {
        @include headerHeight(550px);

        #navbar {
            padding: 50px 10px;

            .menu-toggle {
                display: none;
            }

            .menu-menu-1-container {
                background-color: transparent;
                max-width: none;
            }
            #site-navigation {
                #primary-menu {
                    display: block;

                    li {
                        display: inline;
                    }
                }

                .menu-item,
                .page_item {
                    border-bottom: 0;
                    font-family: $OpenSans;
                    text-transform: uppercase;

                    a {
                        color: $red;
                        background-color: #fff;
                        font-weight: bold;
                        font-size: 18px;
                        padding: 0 0 7px 0;
                        margin: 0 0 0 40px;

                        &:hover {
                            color: #ddd;
                        }

                    }

                    &.current_page_item a,
                    &.current_page_item a:hover {
                        //border-bottom: 3px solid lighten($red, 40%);
                    }
                }
            }
        }
    }
}




