/* COLORS */

$dark-grey: #333;
$light-grey: #eee;
$red: #D33B37;

/* FONTS */
$OpenSansC: 'Open Sans Condensed';
$OpenSans: 'Open Sans';

$max-width: 1600px;
$max-content-width: 1240px;


/* BREAKPOINTS */
$tw13_mob_p_max: 380px;
$tw13_mob_l_min: 381px;
$tw13_mob_l_max: 767px;
$tw13_tab_p_min: 768px;
$tw13_tab_p_max: 1023px;
$tw13_tab_l_min: 1024px;
